.landing {

    display: flex;

    .form-field-group-holder {

        margin-right: 0;
        margin-left: auto !important;

    }

    &-editor {

        width: 50%;
        max-width: 700px;
        height: 100%;
        // background: red;

        .cm-theme-light {

            @include font-size(x-small);
            margin: 20px;
            border: 1px solid #e8e8e8;
            border-left: 0;
            height: 90vh;
            max-height: 1000px;
            overflow: auto;

        }

        .cm-gutters {

            border-right: 0;
            background: #e8e8e8;

        }

    }

    .form-field-group-holder {

        width: 100%;

    }

}
