:root {
  --primary-color: #1565c0;
}

$colors: (
  primary: #1565c0,
  light: #ccdbfd,
  light-primary: #e2eafc,
  lighter-primary: #e3f2fd,
  secondary-text: #e0e3e5,
  red: #c01515,
  white: #ffffff,
  footer: #18191f,
  footer-icon-bg: #303135,
  footer-text: rgba(217, 219, 225, 1),
  dark: #57585e,
  darker: #21232d,
  black: #000000,
  solitude: #edf2fb,
  faux-blue: rgba(22, 22, 168, 0.814),
  input-border: #e0e3e5,
  input-bg: #f3f3f3,
  input-placeholder: #6d6e76,
  modal-overlay: rgba(0, 0, 0, 0.2),
  success: #f9d76f,
  empty-item: #c73e1d,
  select-box: rgb(235, 235, 235)
);

$shadows: (
  card: 0 16px 24px rgba(0, 0, 0, 0.06) 0 2px 6px rgba(0, 0, 0, 0.04) 0 0 1px rgba(0, 0, 0, 0.04)
);

$header-shadow: 0 16px 24px rgba(0, 0, 0, 0.06), 0 2px 6px rgba(0, 0, 0, 0.04), 0 0 1px rgba(0, 0, 0, 0.04);

$main-font: 'Poppins', sans-serif;
$header-font: 'Poppins-600', sans-serif;

$default-font-size: 14px;

$inputBorder: 1px solid map-get($colors, light-primary);

$focusedBorder: 1px solid map-get($colors, primary);

$checkBoxBorder: 1px solid map-get($colors, light-primary);

$normal-font-sizes: (
  xx-small: 9px,
  x-small: 12px,
  small: 14px,
  regular: 16px,
  medium: 20px,
  large: 22.5px,
  m-large: 24px,
  x-large: 36px,
  xx-large: 40px,
  xxx-large: 60px,
  xxxx-large: 63px
);

$small-font-sizes: (
  xx-small: 8px,
  x-small: 10px,
  small: 12.5px,
  regular: 14px,
  medium: 16.9px,
  large: 20.5px,
  m-large: 23.5px,
  x-large: 28.5px,
  xx-large: 32px,
  xxx-large: 51px,
  xxxx-large: 58px
);

$small-tab-font-sizes: (
  xx-small: 7px,
  x-small: 9px,
  small: 11px,
  regular: 12.5px,
  medium: 14px,
  large: 16px,
  m-large: 21.5px,
  x-large: 24px,
  xx-large: 30px,
  xxx-large: 47px,
  xxxx-large: 52px
);

$font-weights: (
  extra-light: 200,
  light: 300,
  regular: 400,
  medium: 500,
  semi-bold: 600,
  bold: 700,
  black: 900
);
